/* Table Container */
.table-container {
    width: 100%;
    margin-top: 16px;
    overflow-x: auto; /* Enables horizontal scrolling if the table is too wide */
}

/* Table Styling */
.table {
    width: 100%;
    border-collapse: collapse;
    
}

/* Table Header */
.table thead {
    background-color: #b9a119; /* Header background color */
    color: #fff; /* Header text color */
}

.table th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ddd; /* Border below header */
} 
table-body{
    table-layout: fixed;
    width: 100%;
}

/* Table Body */
.table tbody tr {
    border-bottom: 1px solid #ddd; /* Border between rows */
}



.table tbody tr:hover {
    background-color: #f9fde4; /* Hover effect */
}

/* Table Cells */
.table td {
    padding: 12px;
    text-align: left;
}

.table td button {
    padding: 4px 8px; /* Button padding */
    font-size: 14px;
    border-radius: 4px; /* Rounded corners for button */
}
